gitignore
# File di build generati
/build/
app/build/
.gradle/
.kotlin/

# Impostazioni locali e personali
local.properties
.idea/
*.iml
*.iws
*.ipr

# File di sistema e log
.DS_Store
/captures
.externalNativeBuild/
.cxx/